@import "variables";

.button,
.button:link,
.button:visited {
  text-transform: capitalize;
  text-decoration: none;
  padding: 1.5rem 4rem;
  margin: 2rem auto;
  font-size: 3rem;
  border-radius: 5rem;
  transition: all 0.7s;
  position: relative;
}

.button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 0.5rem rgba(5, 5, 5, 0.3);
}

.button:active {
  transform: scaleX(1.05) scaleY(1.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.button-1 {
  background-color: $button-1;
  color: #555;
}

.button-2 {
  background-color: $button-2;
  color: #555;
}
.button-2:hover {
  transform: scaleX(1.5) scaleY(1.3);
}

.button-3 {
  background-color: $button-3;
  color: #555;
}
