$button-1: #ffd5cd;
$button-2: #efbbcf;
$button-3: #c3aed6;

/* #ffd5cd
#efbbcf
#c3aed6
#8675a9 

colorhunt.co is cool for hexadecimal palettes :) materialpalette.com bad :)
also these colors look pretty different w/o night light smh
*/
