@import "variables";
@import "buttons";
@import "text-effect";
@import "pastel";
@import "pastel-gallery";
html,
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fcefee;
}

.header {
  text-align: center;
  font-size: 3rem;
  color: $text-color-1;
  border-bottom: 0.5rem solid #888;
  margin: 2rem;
}

.container {
  width: 80vw;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
}

.paragraph {
  font-size: 2.5rem;
  line-height: 1.6em;
  color: #555;
  width: 80%;
}
